/* styles.css - CSS for the ClipScribe Textual TUI */

Screen {
    layout: vertical;
}

Container {
    layout: horizontal;
    height: 1fr;
}

#left-pane {
    width: 30%;
    height: 100%;
    border-right: solid $accent;
    
    /* Nest the child panels */
    #progress-panel {
        height: 50%;
        border-bottom: solid $accent;
    }
    #metadata-panel {
        height: 1fr; /* Take up the remaining space */
    }
}

#log {
    width: 1fr; /* Take up the remaining space */
    height: 100%;
}
